  <%# <p>/写真</p> %>
 <p>名前: <%=  @rooad.user.nickname %>さん</p> 
 <p>学習状態：<%= @rooad.status.name %></p>
 <p>タイトル:<%= @rooad.title %></p>
 <%# 合計学習期間 %>
 <%# グラフ・いいね %>

<%# フォーム(repetitions)繰り返し %>
 <h2>学習詳細</h2>
<%  @rooad.repetitions.each do |rooad|%>
  <p>学習内容: <%=  rooad.name %></p>
  <p>学習期間: <%=  rooad.period %>日</p>
 <% if rooad.memo.present? %> 
  <p>一言メモ: <%=  rooad.memo %></p>  
 <% end %>   
<% end %>
<%# /フォーム(repetitions)繰り返し %>

<p>詳細:<%= @rooad.detail %></p>

<%# 制作者のみ編集・削除 %>
<% if  user_signed_in? && current_user.id == @rooad.user_id %>
    <%= link_to 'イベントの編集', edit_rooad_path, method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', rooad_path, method: :delete, class:'item-red-btn' %>
<% end %>
<%# /制作者のみ編集・削除 %>