  <% breadcrumb :show %>
  <%# <p>/写真</p> %>
  <% if @rooad.user.image.present? %> 
  <%= link_to image_tag(@rooad.user.image, class: "card__img" ), root_path %>
 <% else %> 
  <%= image_tag 'gesuto.png', class: "card__img" %>
 <% end %>
 <p>名前: <%=  @rooad.user.nickname %>さん</p> 
 <p>学習状態：<%= @rooad.status.name %></p>
 <p>タイトル:<%= @rooad.title %></p>
 <%# 合計学習期間 %>
 <%# グラフ %>
<%# いいね %>
  <div id="rooad_<%= @rooad.id %>">
  <%= render partial:'rooads/post', locals: { rooad: @rooad} %>
</div >
<%# いいね %>

<%# 制作者のみ編集・削除 %>
<% if  user_signed_in? && current_user.id == @rooad.user_id %>
  <%= link_to  edit_rooad_path, class: "btn-danger", method: :get do %>
   <i class="fas fa-edit edit-btn"></i>
  <% end %>

 <%= link_to  rooad_path, class: "btn-danger", method: :delete, data: {confirm: "本当に削除しますか？"} do %>
  <i class="far fa-trash-alt delete-btn"></i>
 <% end %>
<% end %>
<%# /制作者のみ編集・削除 %>

<%# フォーム(repetitions)繰り返し %>
 <h2>学習詳細</h2>
<%  @rooad.repetitions.each do |rooad|%>



  <p>学習内容: <%=  rooad.name %></p>
  <p>学習期間: <%=  rooad.period %>日</p>
 <% if rooad.memo.present? %> 
  <p>一言メモ: <%=  rooad.memo %></p>  
 <% end %>   
<% end %>
<%# /フォーム(repetitions)繰り返し %>

 <% if @rooad.detail.present? %> 
<p>詳細:<%= @rooad.detail %></p>
<% end %> 

