<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mokosamejima" />
    <meta property="og:url" content="https://roooad.herokuapp.com/" /> 
    <meta property="og:title" content="Roooad(ロ---ド)" /> 
    <meta property="og:description" content="プログラミング初学者のためのロードマップ作成サービスです！「次、何を学習したらいいの？」という悩みを解決できます！" /> 
    <meta property="og:image" content="https://roooad.herokuapp.com/assets/gesuto-3f6b883cdcef07b165043c5458e20444540d49abd063237dcdcc748af6f00117.png" /> 

    <title>Roooad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="reset.css">

  </head>

  <body>

   <header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <h1 class="grid-6">Roooad</h1>
    </div>

<%# ハンバーガーメニュー %>
<p class="btn-gnavi">
        <span></span>
        <span></span>
        <span></span>
      </p>
      
      <nav id="global-navi">
        <ul class="menu">
        <% if user_signed_in? %>
          <li><%= link_to 'ロードマップ作成',  new_rooad_path %></li>
          <li><%= link_to 'ユーザー編集', edit_user_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li><%= link_to 'ログイン',  new_user_session_path %></li>
          <li><%= link_to '新規登録',  new_user_registration_path %></li> 
        <% end %>
        </ul>
      </nav>
<%# /ハンバーガーメニュー %>

  
  </div>
</header>


<div class="back-coler">
 <%= breadcrumbs separator: " &rsaquo; " %>  

    <%= yield %>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <footer class="footer">
	   <div class="container text-center">
	    <p class="text-muted">©︎<?php echo $year;?> 2021 Roooad</p>
     </div>
    </footer>
  </body>
</html>
